<h1>New Event</h1>

<%= form_for :event, url: events_path do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <%= render :partial => 'events/location', :locals => { :f => f} %>

  <p>
    <%= f.label :when %><br>
    <%= f.datetime_select :datetime %>
  </p>

  <p>
    <%= f.label :type %><br>
    <%= f.select(:event_type) do %>
      <% [['single occurrence', 1], ['multiple occurrences', 2], ['individual occurrence', 3]].each do |t| -%>
        <%= content_tag(:option, t.first, value: t.last) %>
      <% end %>
    <% end %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>