<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.address %>
  <%= @event.city %>
  <%= @event.province %>
  <%= @event.postalcode %>
  <%= @event.country %>
</p>

<p>
  <strong>When:</strong>
  <%= @event.datetime %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>Number of RSVPs:</strong>
  <%= @event.users.count %>
</p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@event.latitude},#{@event.longitude}&markers=#{@event.latitude},#{@event.longitude}&zoom=12&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8",
              class: 'img-fluid img-rounded', alt: "#{@event.title} on the map"%>
<p>Coordinates: <%= @event.latitude %> <%= @event.longitude %></p>

<%= link_to 'Add Me to this Event', add_user_event_path(:event_id => @event.id), :method => :put %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

