<!DOCTYPE html>
<html>
<head>
  <title>EventTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <style>
  
    body {
      font-family: Sans-serif;
    }
    #header {
      color:white;
      background-color: rgb(255,127,80);
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      margin: 0;
    }
    
    #container {
      padding-top:50px;
      padding-bottom:50px;
    }
    
    .alert-failure {
      color: red
    }
    
    .alert-success {
      color: green
    }
  </style>
</head>
<body>
  
  <div id="header">
    <% if current_user %> 
      <ul> 
        <li>Logged in as <%= current_user.email %></li> 
        <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
      </ul> 
    <% else %> 
      <ul> 
        <li><%= link_to "Login", '/login' %></a></li> 
        <li><%= link_to "Signup", '/signup' %></a></li> 
      </ul> 
    <% end %>
  </div>
  
  <div id="container">
    <% flash.each do |key, value| %>
      <div class="alert-<%= key %>"><%= value %></div>
      <hr>
    <% end %>
          
    <%= yield %>
  </div>
</body>
</html>
