<h2>Listing events</h2>

<p>
  <%= form_tag(events_path, method: "get") do %>
  <%= text_field_tag "search", nil, placeholder: params[:search] || "search" %>
  <%= submit_tag "Search by Keyword", name: nil %>
  <% end %>
</p>

<p>
  <%= form_for(:search_date, url: events_path, method: "get") do |f| %>
    <p>
      <%= f.label "Start:" %> <%= f.date_select :from_date, default: @from_date %>
      <%= f.label "End:" %> <%= f.date_select :to_date, default: @to_date %>
      <%= f.submit "Search by Dates", name: nil %>
    </p>
  <% end %>
</p>

<p>
  <input type="button" value="Show All Events" onclick="window.location='/events';" />
</p>

<table>
  <tr>
    <th>Title</th>
    <th>When</th>
    <th>Action</th>
  </tr>
 
  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.datetime %></td>
      <td><%= link_to 'Show', event_path(event) %> |
      <%= link_to 'Edit', edit_event_path(event) %> |
      <%= link_to 'Destroy', event_path(event),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New event', new_event_path %>